
.panel {

}
h1, h2, h3, h4, h5, h6{
    color: rgb(70, 145, 145);
}
body {
    
        background-color: rgb(25, 29, 31);
        color: white;
    }

header, main, footer {
    padding-left: 240px; }

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; }
}